@import "estructurageneral.scss";
@import "responsive.scss";
@import "variables";

/* ---------------------------------- INDEX --------------------------------- */
.contenedorPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        .fotoproyecto {
            width: 150px;
            height: 100px;
        }
    }
}

/* -------------------------------- CONTACTO -------------------------------- */
.contenedorContac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* -------------------------------- NOSOTROS -------------------------------- */
.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fotoEmpresa {
            width: 150px;
            height: 100px;
        }
    }
}

/* ------------------------------ PROFESIONALES ----------------------------- */
.profesionales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        background-color: $div;
        }
    }

/* ------------------------------- BENEFICIOS ------------------------------- */
    .beneficios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }