@import "estructurageneral.scss";
@import "responsive.scss";
@import "variables";

/* ---------------------------------- INDEX --------------------------------- */
.contenedorPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        width: 150px;
        .fotoproyecto {
            width: 150px;
            height: 100px;
        }
    }
}

/* -------------------------------- CONTACTO -------------------------------- */
.contenedorContac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* -------------------------------- NOSOTROS -------------------------------- */
.historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fotoEmpresa {
            width: 150px;
            height: 100px;
        }
    }
}

/* ------------------------------ PROFESIONALES ----------------------------- */
.profesionales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        background-color: $div;
        }
    }

/* ------------------------------- BENEFICIOS ------------------------------- */
.tabla {
    border-collapse: collapse;
    text-align: center;
    font-size: small;
    margin-top: 2rem;

    .beneficios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    th {
        td {
            border: 3px solid;
            border-color: rgba(233, 156, 93, 0.836);
        }
    }
}