$div: rgb(243, 165, 134);
$colorNavFoo:rgba(224, 92, 4, 0.733);
$border: 3px solid rgba(0, 0, 0, 0.493);
$boton:rgba(197, 115, 21, 0.589) ;
/**** ---------------------------------- MIXIM --------------------------------- ****/
@mixin tamaño ($ancho,$alto ) {
    width: $ancho;
    height: $alto;
}